 .flex__container
         display flex
         flex-direction column
         justify-content space-around
         height 600px

 .flex__item
        border 2px solid green
        display inline-block
        max-width 100px
        min-height 25px

